{% extends "home-base.html" %}
{% block title %}Add coursees{%endblock%}
{%block page_content%}

<div class="container">
  <h1 class="mt-5"><i class="fa fa-course" aria-hidden="true"></i> Add coursees:</h1>
  <form action="/course/add" method="post">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" placeholder="Name of the course" required="true">
    </div>

<div class="form-group">
  <label>About</label>
  <select class="form-control" name="about">
  </select>
  </div>

<div class="form-group">
  <label>Professor</label>
  <select class="form-control" name="professor">
    {% for professor in professors %}
      <option>{{professor.name}}</option>
    {% endfor %}
  </select>
  </div>

<div class="form-group">
  Professor not in the list? <a href="/professor/add" class="btn btn-sucess" role="button" aria-disabled="true">Add Professors</a>
</div>

<div class="form-group">
  <label>About</label>
  <textarea class="form-control" name="about" placeholder="About" required="true"></textarea>
</div>

  <button type="submit" class="btn btn-primary"> Add course </button>

</form>
</div>

{% endblock %}
