{% extends "home-base.html"%}
{% block title %}Add Professors{% endblock %}
{% block page_content%}

  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Add Professors:</h1>
    <form action="/professor/add" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name of the Professor" required="true">
      </div>
      <div class="form-group">
        <label>About</label>
        <textarea class="form-control" name="about" placeholder="Brief Introduction" required="true"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Professor</button>
      <button type="submit" class="btn btn-success" id="insert-ajax-btn">Add Professor Ajax</button>
    </form>
  </div>

{% endblock%}
{%block scripts%}
{{super()}}
<script>
  $(document).ready(function(){
    event.preventDefault();
    $.Ajax({
      type: "POST",
      url: "/api/professor/add"
      data: $("#add-professor-form").serialize(),
      success: function(response){
        window.location.replace("/professors");
      }
  })
  .fail(function(error){
    swal({
      title: "Whoops...",
      text: "Insertion failed",
      type: "error",
      timer: 2000,
      showConfirmButton: false
    });
  });
});
});
</script>
{%endblock%}
